body,
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
ol, ul, li {list-style:none;display:block;}
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;}

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

body {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Instrument Sans', sans-serif;
  background-image: url(images/site-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#navPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#card {
  color: whitesmoke;
  position: relative;
  width: 60vw;
  height: 60vh;
  border-radius: 20px;
  background-image: url(images/image-png.png);
  background-size: cover;
  background-color: rgba(77, 82, 86, 0.33);
  background-position: center;
  background-blend-mode: multiply;
  justify-content: center;
  align-items: center;
}

.temperature, .sky, .details {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.temperature, .sky {
  line-height: 100%;
  padding: 2vh;
}

.temperature {
  font-size: 64px;
  padding: 2vh;
}

.sky {
  font-size: 40px;
}

.details {
  font-size: 25px;
  padding-bottom: 0.5vh;
}

.gray-text-shadow {
  text-shadow: 0 0 10px #3B403F;
}

hr {
  height: 1px;
    background: white;
    border: none;
    margin: 0 5%;
}

.skyimg {
  height: 64px;
  width: 64px;
  margin: -10px;
}

.detailsimg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

#bottomdetails, #topdetails {
  position: absolute;
  width: 100%;
}

#bottomdetails {
  bottom: 0;
  padding-bottom: 3vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#topdetails {
  top: 0;
  padding-top: 3vh;
}

.cityname, .date {
  position: absolute;
  text-align: right;
  right: 25%;
  padding: 3vh;
  line-height: 100%;
}

.cityname {
  bottom: 0;
  font-size: 60px;
  font-weight: 400;
  text-shadow: 0 0 20px #0d0d0d, 0 0 10px #0d0d0d;
}

.date {
  top: 0;
  font-size: 25px;
  font-weight: 200;
  text-shadow: 0 0 10px #0d0d0d, 0 0 5px #0d0d0d;
}

 #sidepanel {
  right: 0;
  width: 25%;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(108, 122, 122, 0.33);
  border-radius: 0 20px 20px 0;
  backdrop-filter: blur(3.3px);
}

.favorite {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 3vh;
  margin: 1.5vh;
  width: 24px;
  height: 24px;
  background-image: url(icons/heart-2-line.svg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  background-color: rgba(108, 122, 122, 0.33);
  backdrop-filter: blur(10px);
  transition: .2s;
}

.favorite:hover {
  /*background-color: rgba(108, 122, 122, 0.25);*/
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: .2s;
}

.favorite:active, .favorite:focus {
  background-image: url(icons/heart-2-fill.svg);
}

#search {
  width: 40vw;
}

span img {
  width: 24px;
}
